<nav class="navbar bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img [src]="'assets/image/logo-ada.png'" width="141px" height="40px" alt="ada" />
    </a>
  </div>
</nav>
<div class="container custom-style">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10 col-lg-7 text-center">
      <div class="progress" *ngIf="loading">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          aria-label="Animated striped example"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 100%"
        ></div>
      </div>
      <div class="container border">
        <div class="row justify-content-center mt-3">
          <div class="col-12 col-md-12">
            <img src="./assets/image/logo-email.jpg" alt="email" width="820px" height="150px" class="img-fluid" />
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <div class="col-12 col-md-12 text-start">
            <h2>Notificación de {{ factura.codigoCliente ? factura.codigoCliente : '---' }}</h2>
          </div>
        </div>

        <div class="row justify-content-between mt-3">
          <div class="col-6 col-md-6 text-start">
            <p>Señor(es),</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>{{ factura.contactN }}</p>
          </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-12 text-start">
            <p>Le informamos que ha sido generado un documento de {{ factura.codigoCliente ? factura.codigoCliente : '---' }}</p>
          </div>
        </div>

        <div class="row justify-content-between mt-3">
          <div class="col-6 col-md-6 text-start">
            <p class="subtitle">Número documento:</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>{{ factura.dsprefijo + factura.legalNumbe }}</p>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-6 col-md-6 text-start">
            <p class="subtitle">Tipo de documento:</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>{{ factura.tipoDocumentoElectronico }}</p>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-6 col-md-6 text-start">
            <p class="subtitle">Valor:</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>{{ factura.valorBrutomasTributos | currency : 'USD' : 'symbol' : '1.0-0' }}</p>
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <div class="col-12 text-start">
            <p>Si tiene alguna inquietud debe contactarse con {{ factura.codigoCliente ? factura.codigoCliente : '---' }}</p>
          </div>
        </div>

        <div class="row justify-content-between mt-5" *ngIf="showBotones">
          <div class="col-6 col-md-6 text-center">
            <a class="enlace-confirmacion" (click)="aceptarRechazarFactura(1)">Aceptar</a>
          </div>
          <div class="col-6 col-md-6 text-center">
            <a class="enlace-confirmacion" (click)="aceptarRechazarFactura(2)">Rechazar</a>
          </div>
        </div>

        <div class="row justify-content-center mt-5 mb-3">
          <div class="col-6 col-md-6 text-center">
            <a href="https://www.ada.co/es/inicio/" target="_blank" class="enlace">www.ada.co</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
