<nav class="navbar bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img [src]="'assets/image/logo-ada.png'" width="141px" height="40px" alt="ada" />
    </a>
  </div>
</nav>
<div class="container custom-style">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10 col-lg-7 text-center">
      <div class="container border">
        <div class="row justify-content-center mt-3">
          <div class="col-12 col-md-12">
            <img src="./assets/image/logo-email.jpg" alt="email" width="820px" height="150px" class="img-fluid" />
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <div class="col-12 col-md-12 text-start">
            <h2>Notificación de ADA S.A.S</h2>
          </div>
        </div>

        <div class="row justify-content-between mt-3">
          <div class="col-6 col-md-6 text-start">
            <p>Señor(es),</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>Lopez Rendon Daniel Felipe</p>
          </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-12 text-start">
            <p>Le informamos que ha sido generado un documento de ADA S.A.S</p>
          </div>
        </div>

        <div class="row justify-content-between mt-3">
          <div class="col-6 col-md-6 text-start">
            <p class="subtitle">Número documento:</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>NC378</p>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-6 col-md-6 text-start">
            <p class="subtitle">Tipo de documento:</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>NOTA CRÉDITO</p>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-6 col-md-6 text-start">
            <p class="subtitle">Fecha de emisión:</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>12/04/2023</p>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-6 col-md-6 text-start">
            <p class="subtitle">Valor:</p>
          </div>
          <div class="col-6 col-md-6 text-end">
            <p>1.190.00</p>
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <div class="col-12 text-start">
            <p>Si tiene alguna inquietud debe contactarse con ADA S.A.S</p>
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <div class="col-12 text-start">
            <p class="subtitle">Cra. 35 #15b-35, Las Palmas, Medellín, Antioquia</p>
            <p class="subtitle">Av. El Dorado #68C - 61, Bogotá, Cundinamarca</p>
          </div>
        </div>

        <div class="row justify-content-between mt-5">
          <div class="col-6 col-md-6 text-center">
            <a class="enlace-confirmacion" href="#">Aceptar</a>
          </div>
          <div class="col-6 col-md-6 text-center">
            <a class="enlace-confirmacion" href="#">Rechazar</a>
          </div>
        </div>

        <div class="row justify-content-between mt-5 mb-3">
          <div class="col-6 col-md-6 text-start">
            <img src="./assets/image/logo-ada.png" alt="ada" width="112px" height="32px" class="img-fluid" />
          </div>
          <div class="col-6 col-md-6 text-end">
            <a href="https://www.ada.co/es/inicio/" target="_blank" class="enlace">www.ada.co</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
